name: tagging

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to bump to'
        required: false
jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
        ref: ${{ github.head_ref }}
    - name: Install Python
      uses: actions/setup-python@v4
    - name: Run increment_version script
      run: |
        python -m pip install toml
        python bump_version.py --version ${{ github.event.inputs.version }}
    - name: Commit, Tag and push changes
      run: |
        VERSION=$(python -c 'import tomllib; print("v" + tomllib.load(open("./pyproject.toml","rb"))["tool"]["poetry"]["version"])')
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add pyproject.toml
        git commit -m "Bump version to $VERSION"
        git tag $VERSION
        git push && git push --tags
    - name: Build and publish to pypi
      uses: JRubics/poetry-publish@v1.17
      with:
        pypi_token: ${{ secrets.PYPI_TOKEN }}
